.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 50px;
    background-color: #6f6f6f;
    color: white;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    margin: 20px;
    gap:10px;
  }
  
.delayed-input-container {
    font-family: Arial, sans-serif;
    padding: 1.5em;
    display: flex;
    flex-direction: column;
    align-items: start;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    background-color: #333;
    min-width: 45%;
    border-radius: 20px;
  }
  
  label, .asset-menu, .borrow-amount, .readonly-textbox, .execute {
    font-size: 16px;
  }
  
  label, .asset-menu, .readonly-textbox {
    margin-bottom: 0;
  }
  
  .content-editable {
    padding: 1em;
    cursor: text;
    opacity: 0;
    color: transparent;
    outline: none;
    background-color: #242424;
    border-radius: 5px;
    margin-bottom: 1em;
  }
  
  .borrow-amount {
    margin-top: 0;
    font-weight: bold;
  }
  
  .amount-button-container {
    display: inline-block;
    margin-left: 10px;
  }
  
  .amt, .execute {
    padding: 8px 12px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    outline: none;
    transition: background-color 0.3s ease;
  }
  .execute{
    background-color: #727272;
  }
  
  .amt {
    background-color: #7f7f7f;
    color: #fff;
  }
  
  .amt:hover, .execute:hover {
    background-color: #8e8f8f;
  }
  
  .readonly-textbox {
    padding: 8px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    color: #333;
    margin-top: 0;
    width: 95%;
  }
  

  .card-rev {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: #333;
    color: white;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    min-width: 45%;
    height: 250px;
  }