
.delayed-input-container {
    font-family: Arial, sans-serif;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: start;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    background-color: #333;
  }
  
  label {
    margin-bottom:0;
    font-size: 16px;
  }
  
  .asset-menu {
    padding: 8px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    color: #333;
    margin-bottom: 0;
  }
  
  .content-editable {
    padding: 10px;
    cursor: text;
    opacity: 0;
    color: transparent;
    outline: none;
    background-color: #242424;
    border-radius: 5px;
    margin-bottom: 10px;
  }
  
  .borrow-amount {
    margin-top: 0;
    font-weight: bold;
    font-size: 16px;
  }
  
  .amount-button-container {
    display: inline-block;
    margin-left: 10px;
  }
  
  .amt {
    padding: 8px 12px;
    cursor: pointer;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 5px;
    outline: none;
    transition: background-color 0.3s ease;
  }
  
  .amt:hover {
    background-color: #2980b9;
  }
  
  .readonly-textbox {
    padding: 8px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    color: #333;
    margin-top: 0;
    width: 95%;
  }
  
  .execute {
    margin-top: 10px;
    padding: 8px 16px;
    cursor: pointer;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 5px;
    outline: none;
    transition: background-color 0.3s ease;
  }
  
  .execute:hover {
    background-color: #2980b9;
  }


  .card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center; /* Center vertically */
    padding: 20px;
    background-color: #242424;
    color: white;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    margin: 20px;
  }
  
  .card-rev {
    padding: 10px;
    background-color: #333; /* Adjust the color for the reversed text card */
    color: white;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin-top: 20px; /* Adjust the space from the top */
    text-align: center; /* Center text horizontally */
  }